<p><i>Effective Date: June 1, 2015</i></p>

<p>These Terms of Use (the &quot;Agreement&quot;) constitute an agreement between you and NetClerk, a project of the Berkman Center for Internet & Society at Harvard University (&quot;NetClerk&quot;), and govern your use of internetmonitor.org and any other functionality or services offered by NetClerk (collectively, the &quot;Services&quot;) Please read the terms contained in this Agreement carefully. You can access this Agreement at any time at Terms of Service. Your use of any aspect of the Services constitutes your acceptance of the terms contained in this Agreement. If you cannot agree with the terms contained in this Agreement, please do not use the Services.</p>

<h3>1. User Agreement</h3>

<p>1.1 NetClerk may change the terms of this Agreement from time to time and will post any changes to this page, so you should check back often to ensure that you are aware of the terms that govern your use of the Services. The date of the most recent revisions will appear on this page. Continued use of the Services by you will constitute your acceptance of any changes to or revisions of the Agreement. There may be additional terms that may apply to specific services offered by NetClerk (&quot;Additional Terms&quot;). Those Additional Terms will be made available to you when you choose to use the functionality or services that they apply to. Any conflict between any Additional Terms and this Agreement will be resolved in favor of the Additional Terms.</p>

<p>1.2 Your privacy is important to us. In addition to reviewing this Agreement, please read our <a href="#privacy">Privacy Policy</a>, which identifies how NetClerk uses, collects, and stores information it collects through the Services. By using the Services, you additionally agree that you are comfortable with NetClerk's Privacy Policy.</p>

<h3>2. Rules of Usage</h3>

<p>2.1 Your use of the Services is subject to the following restrictions and obligations:</p>

<ol>
<li>Unless otherwise specified, the Services are intended for your personal use only.</li>
<li>You may not impersonate, imitate, or pretend to be somebody else when using the Services.</li>
<li>You may not provide or post on or through the Services any graphics, text, photographs, images, video, audio or other material that constitutes junk mail, spam, or commercial offers. You may not repeatedly post the same material.</li>
<li>You agree not to provide or post any material that is obscene, indecent, offensive, defamatory, or violent through the Services.</li>
<li>You agree to comply with all applicable local, federal, and national laws and regulations when you use the Services.</li>
<li>You agree not to post any material that includes instructions for weapon or explosive manufacture or use through the Services.</li>
<li>You are responsible for ensuring that any graphics, text, photographs, images, video, audio or other material you provide to or post through the Services does not violate the privacy, copyright, trademark, trade secret, publicity right or any other personal or proprietary rights of any person or entity.</li>
<li>You agree not to disrupt, overwhelm, attack, modify, reverse engineer or interfere with the Services or its associated software, hardware, or servers in any way, and you agree not to impede or interfere with others' use of the Services. You may not attempt to gain unauthorized access to NetClerk's servers by any means - including, without limitation, by using administrator passwords or by masquerading as an administrator while using the Services or otherwise.</li>
</ol>

<p>2.2 You must be 13 years old or older to register to use the Services. As a result, NetClerk does not specifically collect information about children. If we learn that NetClerk has collected information from a child under the age of 13, we will delete that information promptly.</p>

<h3>3. User Content and Licensing</h3>

<p>3.1 Some portions of the Services provide you with the ability to upload, post, and link to content while using the Services (&quot;User Content&quot;). You represent and warrant that you have all rights necessary to upload, post, or link the User Content to the Services and to grant the rights granted by you to NetClerk pursuant to these Terms of Use.</p>

<p>3.2 By submitting your User Content to the Services you grant NetClerk a perpetual, irrevocable, worldwide, non-exclusive, fully paid-up, royalty-free, sublicensable, and transferable license to use, reproduce, modify, adapt, translate, enhance, transmit, distribute, publicly perform, or display your User Content in any medium (now in existence or hereinafter developed) and for any purpose, including for commercial and marketing purposes, and to authorize others to do so.</p>

<p>3.3 We welcome your feedback. By submitting feedback or other comments regarding NetClerk to us, you grant NetClerk a royalty-free, perpetual, non-exclusive, unrestricted, worldwide license to use, reproduce, modify, adapt, translate, enhance, transmit, distribute, publicly perform, display, or sublicense any such communication in any medium (now in existence or hereinafter developed) and for any purpose, including commercial purposes, and to authorize others to do so.</p>

<p>3.4 NetClerk reserves the right, but is not obligated, to monitor your usage of the Services, and to review, edit, move or delete any User Content, in its sole discretion, without notice, at any time. </p>

<h3>4. NetClerk Content and Licensing</h3>

<p>4.1 NetClerk owns and retains all rights in and to the Services, including, but not limited to, the design, functionality and architecture of the Services, as well as any software, logos, or content provided through the Services, including any intellectual property or other proprietary rights contained therein (collectively, &quot;NetClerk IP&quot;). You must seek permission from NetClerk if you desire to use the Services in a way that is not outlined in these Terms of Use. Except for any rights explicitly granted under these Terms of Use, you are not granted any rights in and to any NetClerk IP.</p>

<h3>5. Copyright Notices</h3>

<p>5.1 NetClerk respects the intellectual property of others, and we ask our users to do the same. NetClerk may, in appropriate circumstances and at its discretion, suspend or terminate the access of and take other action against users who infringe the copyrights of others.</p>

<p>If you believe that your work is accessible on the Services in a way that constitutes copyright infringement, you may notify NetClerk by providing the following information (as required by the Online Copyright Infringement Liability Limitation Act of the Digital Millennium Copyright Act, 17 U.S.C. sec. 512) to our copyright agent identified below:</p>

<ol>
<li>A physical or electronic signature of person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed;</li>
<li>Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site;</li>
<li>Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit NetClerk to locate the material;</li>
<li>Information reasonably sufficient to permit NetClerk to contact the complaining party, such as an address, telephone number, and if available, an electronic mail address at which the complaining party may be contacted;</li>
<li>A statement that the complaining party has a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and</li>
<li>A statement that the information in the notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
</ol>

<h3>Copyright Agent:</h3>

<h3>Tracy Walden</h3>

Harvard University Information Technology<br />
IT Security | Policy, Risk and Compliance<br />
+1.617.496.8515<br />
1414 Massachusetts Avenue, Room 346<br />
Cambridge, MA 02138<br />
Email: dmca@harvard.edu</p>

<p>For communications on other matters, please contact NetClerk as described on the Services, or email info@thenetmonitor.org.</p>

<h3>6. Termination or Suspension of Accounts and Access to Services</h3>

<p>6.1 NetClerk has the right to terminate or suspend your ability to access the Services or any part thereof, for any or no reason, without notice, at any time. </p>

<p>6.2 NetClerk may change, suspend or discontinue any part of the Services, including any content offered through the Services (including, but not limited to, text, user comments, messages, data, information, graphics, news articles, photographs, images, illustrations, software, audio clips, and video clips), for any reason, at any time, in its sole discretion. NetClerk may also impose limits on certain features and services or restrict your access to parts or all of the Services without notice or liability.</p>

<h3>7. Comments or Actions by Others Are Not Endorsed by NetClerk</h3>

<p>NetClerk does not endorse, support, sanction, encourage, verify, or agree with the comments, opinions, or statements posted or otherwise provided by any individual or other entity through the Services. Any information or material placed online, including advice and opinions, are the views and responsibility of those who post the statements and do not necessarily represent the views of NetClerk or its third party service providers. You agree that NetClerk and its third party service providers are not responsible, and shall have no liability to you, with respect to any information or materials posted by others, including defamatory, offensive or illicit material, even material that violates this Agreement.</p>

<h3>8. Third-Party Services</h3>

<p>8.1 Certain functions of the Services may allow you to link to or provide you access to functions, content, sites, or services operated by third parties (collectively, &quot;Third-Party Services&quot;). Those Third-Party Services are subject to the terms and conditions and privacy policies of the third parties that provide them, and NetClerk is not responsible for the privacy practices, content, or functionality of the Third-Party Services. You are solely responsible for reading and complying with any licenses, restrictions, privacy policies or other terms and conditions that govern the use of any Third-Party Services you choose to access, visit or link to through your use of the Services, and are solely liable for any violations of those terms and conditions that arise out of or relate to your use of Third-Party Services.</p>

<p>8.2 NetClerk does not endorse the content of Third-Party Services and is not responsible for the content or actions of such sites or services. Visiting any such sites or services is at your sole risk.</p>

<h3>9. Indemnification</h3>

<p>You agree to indemnify NetClerk and its affiliates, employees, agents, representatives and third party service providers, and to defend and hold each of them harmless, from any and all claims and liabilities (including attorneys' fees) arising out of or related to your breach of this Agreement or your use of the Services.</p>

<h3>10. Disclaimer of Warranty</h3>

<p>YOU ACKNOWLEDGE THAT YOU ARE USING THE SERVICES AT YOUR OWN RISK. THE SERVICES ARE PROVIDED &quot;AS IS,&quot; AND NETCLERK, ITS AFFILIATES AND ITS THIRD PARTY SERVICE PROVIDERS HEREBY EXPRESSLY DISCLAIM ANY AND ALL WARRANTIES, EXPRESS AND IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OF ACCURACY, RELIABILITY, TITLE, MERCHANTABILITY, NON-INFRINGEMENT, FITNESS FOR A PARTICULAR PURPOSE OR ANY OTHER WARRANTY, CONDITION, GUARANTEE OR REPRESENTATION, WHETHER ORAL, IN WRITING OR IN ELECTRONIC FORM, INCLUDING BUT NOT LIMITED TO THE ACCURACY OR COMPLETENESS OF ANY INFORMATION CONTAINED THEREIN OR PROVIDED BY THE SERVICES. NETCLERK, ITS AFFILIATES, AND ITS THIRD PARTY SERVICE PROVIDERS DO NOT REPRESENT OR WARRANT THAT ACCESS TO THE SERVICES WILL BE UNINTERRUPTED OR THAT THERE WILL BE NO FAILURES, ERRORS OR OMISSIONS OR LOSS OF TRANSMITTED INFORMATION, OR THAT NO VIRUSES WILL BE TRANSMITTED THROUGH THE SERVICES.</p>

<h3>11. Limitation of Liability</h3>

<p>NETCLERK, ITS AFFILIATES AND ITS THIRD PARTY SERVICE PROVIDERS SHALL NOT BE LIABLE TO YOU OR ANY THIRD PARTIES FOR ANY DIRECT, INDIRECT, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES OF ANY KIND, REGARDLESS OF THE TYPE OF CLAIM OR THE NATURE OF THE CAUSE OF ACTION, EVEN IF NETCLERK HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</p>

<h3>12. Jurisdiction</h3>

<p>The Services are offered by NetClerk from its facilities in the United States. NetClerk makes no representations that the Services are appropriate or available for use in other locations. Those who access or use the Services are responsible for compliance with local law.</p>

<h3>13. Choice of Law and Venue</h3>

<p>You agree that this Agreement, for all purposes, shall be governed and construed in accordance with the laws of the Commonwealth of Massachusetts applicable to contracts to be wholly performed therein, and any action based on, relating to, or alleging a breach of this Agreement must be brought in a state or federal court in Middlesex County, Massachusetts. In addition, both parties agree to submit to the exclusive personal jurisdiction and venue of such courts.</p>

<h3>14. Choice of Language</h3>

<p>If NetClerk provides you with a translation of the English language version of these Terms of Use, the Privacy Policy, or any other policy, then you agree that the translation is provided for informational purposes only and does not modify the English language version. In the event of a conflict between a translation and the English version, the English version will govern.</p>

<h3>15. No Waiver</h3>

<p>No waiver of any term of these Terms of Use shall be deemed a further or continuing waiver of such term or any other term, and NetClerk's failure to assert any right or provision under these Terms of Use shall not constitute a waiver of such right or provision.</p>

<h3>16. Entire Agreement</h3>

<p>This Agreement constitutes the entire agreement between the parties and supersedes all previous agreements relating to the use of the Services.</p>
