<%= image_tag "http://www.google.com/s2/favicons?domain=#{URI.parse(status.page.url).host}", alt: '' %> <span><%= raw t( "statuses.#{status.value}", title: status.page.title, country: status.country.name ) %></span>
