<h1><%= t 'statuses.changed' %></h1>

<% cache(@statuses, expires_in: cache_duration) do %>
  <div class="list-group statuses-list">
    <%= render partial: 'statuses/group_link', collection: @statuses %>
  </div>
<% end %>
