<h1><%= t 'statuses.recent' %></h1>

<% {'statuses.changed' => @changed, 'statuses.random' => @statuses}.each do |k, c| %>
<h2><%= t k %></h2>
<div class="list-group statuses-list">
  <%= render partial: 'statuses/group_link', collection: c %>
</div>
<% end %>
