<div class="row">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h2 class="panel-title"><%= raw( t title ) %></h2>
    </div>

    <div class="panel-body"><%= raw( t body ) %></div>
  </div>
</div>
