<div class="page media">
  <%= link_to image_tag("favicons/#{page.id}.ico", alt: 'favicon', class: 'media-object' ), page_path( page ), class: 'pull-left' %>
  <div class="media-body">
    <h4 class="media-heading"><%= page.title %></h4>
    <p><%= page.url %></p>
    <p><%= page.category.name unless page.category.nil? %></p>
  </div>
</div>
