<h1><%= t 'models.pages' %></h1>

<%= link_to new_page_path do %>
  <button id="new-page" type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Page
  </button>
<% end %>

<p class="pages-help alert alert-info"><%= t 'pages.help' %></p>

<div class="list-group pages-list">
  <%= render partial: 'pages/group_link', collection: @pages %>
</div>
