<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="" alt="" style="background: blue; width: 64px; height: 64px;">
  </a>
  <div class="media-body">
    <h4 class="media-heading"><%= country.name %></h4>
  </div>
</div>
