<div class="media">
  <a class="pull-left" href="#">
    <%= image_tag "flags/#{country.iso2}.png", class: 'media-object' %>
  </a>
  <div class="media-body">
    <h4 class="media-heading"><%= country.name %></h4>
  </div>
</div>
