<div class="country media">
  <%= link_to image_tag( "flags/#{country.iso2}.png", class: 'media-object' ), country_path( country ), class: 'pull-left' %>
  <div class="media-body">
    <h4 class="media-heading"><%= country.name %></h4>
    <svg class="statuses-chart" data-todays-status="<%= Status.most_recent.where( { country: country } ).map( &:value ).to_s %>"></svg>
  </div>
</div>
