/* color palette: http://rriepe.github.io/1pxdeep/ with seed of #d4f0fe & tetrad color wheel */

$color1: #d4f0fe;
$color1a: #49c2ff;
$color1b: #49c2ff;
$color1c: #ffffff;

$color2: #d7defe;
$color2a: #4968ff;
$color2b: #a7b6ff;
$color2c: #ffffff;

$color3: #fee4d7;
$color3a: #ff8649;
$color3b: #ffc5a7;
$color3c: #ffffff;

$color4: #fef8d7;
$color4a: #ffe149;
$color4b: #fff0a7;
$color4c: #ffffff;

