/* color palette: http://rriepe.github.io/1pxdeep/ with seed of #b42020 */

$color1: #b42020;
$color1a: #4e0c0c;
$color1b: #640f0f;
$color1c: #7d1717;

$color2: #6c1f13;
$color2a: #4e140c;
$color2b: #641a0f;
$color2c: #7d2517;

$color3: #6c131f;
$color3a: #4e0c14;
$color3b: #640f1a;
$color3c: #7d1725;

$color4: #6c1313;
$color4a: #4e0c0c;
$color4b: #640f0f;
$color4c: #7d1717;

