body.countries {
  .countries-list {
    list-style: none;
    li {
      clear: both;
    }

    img {
      width: 64px;
      height: 64px;
    }
  }

  .media-body {
    padding-top: 5px;

    h4 {
      margin: 0;
    }
  }
}
