// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.pages {
  &.index {
    .list-group-item img {
      height: 16px;
      width: 16px;
    }
  }

  &.show {
    .list-group {
      .list-group-item:first-child {
        text-transform: capitalize;
      }
    }
  }
}

.page.media {
  display: table;
  max-width: 1000px;
  white-space: nowrap;

  .favicon-container {
    display: table-cell;
    min-width: 24px;
  }

  .media-body {
    display: table-cell;

    p.truncated-url {
      cursor: zoom-in;
    }

    p.full-url {
      cursor: zoom-out;
      display: none;
    }
  }
}
